/* general sign up */

h1 {
    color: var(--brown);
    font-size: 36px;
    font-weight: normal;
}

.container {
    width: 100%;
}

.container-cont {
    display: flex;
    width: 100%;
}

.dashboard {
    height: 95vh;
}

.filter-container {
    background-color: var(--shadow);
    display: flex;
    height: 60vh;
    justify-content: center;
    padding: 50px;
    width: 20%;
}

.results-container {
    height: 83vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    width: 100%;
}

.result-container {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    height: 150px;
    padding: 3% 3.5%;
    width: 100%;
}

.resultHeader {
    font-size: 18px;
}

.results-item {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 80px;
    padding: 10px 50px;
    width: 100%;
}

.results-item:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1);
}

.results-item:hover {
    background-color: rgba(200, 200, 200, 0.2);
    transition: 0.2s;
}

.results-item:active {
    text-decoration: underline;
}

.results-item__left-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-left: 35px;
    width: 30%;
}

.results-item__right-container {
    align-items: center;
    display: flex;
    justify-content: right;
    width: 70%;
}

.results-item__user-photo {
    background-size: cover;
    border-radius: 50%;
    height: 55px;
    width: 60px;
}

.results-item__user-name {
    font-size: 18px;
    font-weight: bold;
}

.results-item__user-role {
    font-size: 14px;
}

.results-item__user-location {
    font-size: 14px;
    padding-left: 20px;
}

.side-container {
    flex-basis: 290px;
}

.side-container form {
    padding: 0;
    width: 100%
}

.side-container .form__item {
    font-size: 14px;
}

.wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    max-width: 100%;
    width: 100%;
}


/* general sign up */